*{
    margin: 0;
    padding: 0;
}

.box{
    height: 50px;
    width: 50px;
    background-color: beige;
    border: 2px solid black;
    transform: rotate(0.125turn);
    /* transform: rotateX(9deg); */
    /* transform: scale(1.8); */
    /* transform: skew(30deg); */
    /* transform: skewY(40deg); */
    /* transform: translate(20px, 30px); */
    /* transform: translate(300px) skew(40deg); */
    transform-origin: 0 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 100vw;
    height: 80vh;
    border: 2px solid purple;
    display: flex;
    justify-content: center;
    align-items: center;
}