.box{
    width: 25vw;
    height: 15vh;
    border: 2px solid  #000000;
    overflow: auto scroll;
    /* overflow-x: hidden;
    overflow-y: scroll; */
    /* white-space: nowrap;
    text-overflow: clip; */
}